<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <h1 class="footer-logo-text">LOGO</h1>
            <p class="footer-logo-desc">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque delectus
                magni temporibus aliquam, voluptate libero molestias consectetur a omnis ipsum.
            </p>
        </div>
        <div class="footer-urls">
            <h1 class="footer-urls-header bold mb-3">
                <span style="color: red; font-weight: default;">|</span>
                LİNKLER
            </h1>
            <a href="/Home/Index"><i class="fa-solid fa-chevron-right color:red;"></i>Ana Sayfa</a>
            <a href="/Home/Index"><i class="fa-solid fa-chevron-right color:red;"></i>Kitap Bul</a>
            <a href="/Home/Index"><i class="fa-solid fa-chevron-right color:red;"></i>Takvim</a>
            <a href="/Home/Index"><i class="fa-solid fa-chevron-right color:red;"></i>Hakkında</a>
            <a href="/Home/Index"><i class="fa-solid fa-chevron-right color:red;"></i>İletişim</a>
        </div>
        <div class="footer-follow">
            <h1 class="footer-follow-header bold">
                <span style="color: red; font-weight: default;">|</span> TAKİP ET
            </h1>
            <p class="footer-follow-desc mt-3">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
                delectus
                magni temporibus aliquam, voluptate libero molestias consectetur a omnis ipsum.
            </p>
        </div>
        <div class="footer-search">
            <h1 class="footer-search-header bold">
                <span style="color: red; font-weight: default;">|</span> ARAMA
            </h1>
            <p class="footer-search-desc mt-3">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
                delectus
                magni temporibus aliquam, voluptate libero molestias consectetur a omnis ipsum.
            </p>
            <div class="footer-search-area">
                <textarea placeholder="Arama" name="search" id="search" cols="30" rows="10"></textarea>
                <p class="search-button">Ara</p>
            </div>
        </div>
    </div>
    <div class="footer-end">
        <hr class="footer-hr">
        <p class="mt-2 mb-2">&copy; Copyright <span class="bold">Book.</span> All Rights Reserved</p>
    </div>
</footer>