<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBookClub.WEB</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/OnlineBookClub.WEB.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />
    <!-- Vendor CSS Files -->
    <!-- <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet" /> -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    @* Add Custom Css File Area *@
    <link rel="stylesheet" href="~/css/LoginAndSignupStyle.css">
    @* Add Custom Css File Area *@
</head>

<body>


    <partial name="_Navbar" />

    <!-- End Header -->

    <div>
        <main role="main" class="py-4">
            @RenderBody()
        </main>
    </div>

    <!-- ======= Footer ======= -->
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <h1 class="footer-logo-text">LOGO</h1>
                <p class="footer-logo-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque delectus
                    magni temporibus aliquam, voluptate libero molestias consectetur a omnis ipsum.</p>
            </div>
            <div class="footer-urls">
                <h1 class="footer-urls-header bold mb-3"><span style="color: red; font-weight: default;">|</span>
                    LİNKLER</h1>
                <a href="/Home/Index"><i class="fa-solid fa-chevron-right color:red;"></i>Ana Sayfa</a>
                <a href="/Home/Index"><i class="fa-solid fa-chevron-right color:red;"></i>Kitap Bul</a>
                <a href="/Home/Index"><i class="fa-solid fa-chevron-right color:red;"></i>Takvim</a>
                <a href="/Home/Index"><i class="fa-solid fa-chevron-right color:red;"></i>Hakkında</a>
                <a href="/Home/Index"><i class="fa-solid fa-chevron-right color:red;"></i>İletişim</a>
            </div>
            <div class="footer-follow">
                <h1 class="footer-follow-header bold"><span style="color: red; font-weight: default;">|</span> TAKİP ET
                </h1>
                <p class="footer-follow-desc mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
                    delectus
                    magni temporibus aliquam, voluptate libero molestias consectetur a omnis ipsum.</p>
            </div>
            <div class="footer-search">
                <h1 class="footer-search-header bold"><span style="color: red; font-weight: default;">|</span> ARAMA
                </h1>
                <p class="footer-search-desc mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
                    delectus
                    magni temporibus aliquam, voluptate libero molestias consectetur a omnis ipsum.</p>
                <div class="footer-search-area">
                    <textarea placeholder="Arama" name="search" id="search" cols="30" rows="10"></textarea>
                    <p class="search-button">Ara</p>
                </div>
            </div>
        </div>
        <div class="footer-end">
            <hr class="footer-hr">
            <p class="mt-2 mb-2">&copy; Copyright <span class="bold">Book.</span> All Rights Reserved</p>
        </div>
    </footer>
    <!-- End Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
