@{
    ViewData["Title"] = "SignUp";
}
@model SignUpVM

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="form-signin m-auto col-6">
    <form asp-action="SignUp" method="post" class="d-flex flex-column gap-3 justify-content-center">
        <h1 class="h3 mb-3 fw-normal">Sign-Up</h1>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-primary" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ExistUsernNme"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ExistUsernNme"]
            </div>
        }

        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert"></div>

        <div class="form-floating">
            <input class="form-control" asp-for="UserName" placeholder="Username">
            <label asp-for="UserName"></label>
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="form-floating">
            <input class="form-control" asp-for="Email" placeholder="name@example.com">
            <label asp-for="Email"></label>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-floating">
            <input class="form-control" asp-for="Phone" placeholder="Phone Number">
            <label asp-for="Phone"></label>
            <span class="text-danger" asp-validation-for="Phone"></span>
        </div>
        <div class="form-floating">
            <input class="form-control" asp-for="Password" placeholder="Password">
            <label asp-for="Password"></label>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-floating">
            <input class="form-control" asp-for="PasswordConfirm" placeholder="Password Confirm">
            <label asp-for="PasswordConfirm"></label>
            <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign-Up</button>
    </form>
</div>
