<div class="users d-flex mb-5 mt-5">
    <div class="user-placement">
        <h1 class="bold mb-4">Kullanıcı Sıralaması</h1>
        <div class="user d-flex gap-2">
            <p class="user-index mt-2">
                1.
            </p>
            <div class="user-image">
                <img src="" alt="">
            </div>
            <div class="user-details mt-1">
                <div class="user-name">
                    <p>Öğrenci 1</p>
                </div>
                <div class="user-class">
                    <p>12. Sınıf</p>
                </div>
            </div>
            <div class="user-point d-flex">
                <i class="fa-solid fa-star" style="color: rgb(218, 185, 0);"></i>
                <p>80 Puan</p>
            </div>
        </div>
        <div class="user d-flex gap-2">
            <p class="user-index mt-2">
                2.
            </p>
            <div class="user-image">
                <img src="https://cdn.discordapp.com/attachments/1205968232494800897/1206992852450545755/circleperson.png?ex=65de06b0&is=65cb91b0&hm=46c05eeb0315f4ad8f24acd6c3244c015a46b7697274ccc994f013c691d3da98&" alt="">
            </div>
            <div class="user-details mt-1">
                <div class="user-name">
                    <p>Öğrenci 2</p>
                </div>
                <div class="user-class">
                    <p>12. Sınıf</p>
                </div>
            </div>
            <div class="user-point d-flex">
                <i class="fa-solid fa-star" style="color: rgb(218, 185, 0);"></i>
                <p>46 Puan</p>
            </div>
        </div>
        <div class="user d-flex gap-2">
            <p class="user-index mt-2">
                3.
            </p>
            <div class="user-image">
                <img src="https://cdn.discordapp.com/attachments/1205968232494800897/1206992852450545755/circleperson.png?ex=65de06b0&is=65cb91b0&hm=46c05eeb0315f4ad8f24acd6c3244c015a46b7697274ccc994f013c691d3da98&" alt="">
            </div>
            <div class="user-details mt-1">
                <div class="user-name">
                    <p>Öğrenci 3</p>
                </div>
                <div class="user-class">
                    <p>11. Sınıf</p>
                </div>
            </div>
            <div class="user-point d-flex">
                <i class="fa-solid fa-star" style="color: rgb(218, 185, 0);"></i>
                <p>75 Puan</p>
            </div>
        </div>
        <hr class="users-hr mb-5 mt-5">
        <div class="user d-flex gap-2">
            <p class="user-index mt-2">
                4.
            </p>
            <div class="user-image">
                <img src="https://cdn.discordapp.com/attachments/1205968232494800897/1206992852450545755/circleperson.png?ex=65de06b0&is=65cb91b0&hm=46c05eeb0315f4ad8f24acd6c3244c015a46b7697274ccc994f013c691d3da98&" alt="">
            </div>
            <div class="user-details mt-1">
                <div class="user-name">
                    <p>Öğrenci 4</p>
                </div>
                <div class="user-class">
                    <p>12. Sınıf</p>
                </div>
            </div>
            <div class="user-point d-flex">
                <i class="fa-solid fa-star" style="color: rgb(218, 185, 0);"></i>
                <p>80 Puan</p>
            </div>
        </div>
        <div class="user d-flex gap-2">
            <p class="user-index mt-2">
                5.
            </p>
            <div class="user-image">
                <img src="https://cdn.discordapp.com/attachments/1205968232494800897/1206992852450545755/circleperson.png?ex=65de06b0&is=65cb91b0&hm=46c05eeb0315f4ad8f24acd6c3244c015a46b7697274ccc994f013c691d3da98&" alt="">
            </div>
            <div class="user-details mt-1">
                <div class="user-name">
                    <p>Öğrenci 5</p>
                </div>
                <div class="user-class">
                    <p>12. Sınıf</p>
                </div>
            </div>
            <div class="user-point d-flex">
                <i class="fa-solid fa-star" style="color: rgb(218, 185, 0);"></i>
                <p>46 Puan</p>
            </div>
        </div>
        <div class="user d-flex gap-2">
            <p class="user-index mt-2">
                6.
            </p>
            <div class="user-image">
                <img src="https://cdn.discordapp.com/attachments/1205968232494800897/1206992852450545755/circleperson.png?ex=65de06b0&is=65cb91b0&hm=46c05eeb0315f4ad8f24acd6c3244c015a46b7697274ccc994f013c691d3da98&" alt="">
            </div>
            <div class="user-details mt-1">
                <div class="user-name">
                    <p>Öğrenci 6</p>
                </div>
                <div class="user-class">
                    <p>10. Sınıf</p>
                </div>
            </div>
            <div class="user-point d-flex">
                <i class="fa-solid fa-star" style="color: rgb(218, 185, 0);"></i>
                <p>75 Puan</p>
            </div>
        </div>
    </div>
    <div class="users-image">
        <img src="~/img/styleImages/Kullanıcılar.png" alt="">
    </div>
</div>