@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --blue: #00396F;
    --red:#AB0000;
    --crack-white:#d9d9d98f;
    --body:#F8FBFE;
}



/* - |NAV BAR| - */

nav{
    clear: both;
    display: flex;
    justify-content: center;
    gap: 5%;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    width: 100%;
    height: 63px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 70px;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

.Nav-Button{
    font-weight: 600;
    font-size: 16px;

    border-radius: 60px;
    border: none;
    padding: 12px 24px;
    color: #ffff;
    background-color: var(--red);
    margin-bottom: 12px;
}

.Nav-Logo{
    color: var(--blue);
    padding: 7px;
    font-size: 35px;
    font-weight: 800;
}

/* - |NAV BAR| - */

.Red-Button button{
    font-weight: 600;
    font-size: 16px;
    border-radius: 60px;
    border: none;
    padding: 11px 24px;
    color: #ffff;
    background-color: var(--red);
    margin-top: 7%;
}
