
<div class="container">
    <h1>ADMIN HOME</h1>
    <div class="row mt-4">
        <div class="col-sm">
            <a class="btn btn-warning w-100" asp-controller="Event" asp-action="Index">Events</a>
        </div>
        <div class="col-sm">
            <a href="#" class="btn btn-warning w-100">-</a>
        </div>
        <div class="col-sm">
            <a href="#" class="btn btn-warning w-100">-</a>
        </div>
    </div>
</div>