
@{
    ViewData["Title"] = "PasswordChange";
}
@model PasswordChangeVM

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

 <div class="form-signin m-auto col-6 container">
     <form asp-action="PasswordChange" method="post" class="d-flex flex-column gap-3 justify-content-center">
        <h1 class="h3 mb-3 fw-normal">Şifre Değiştme</h1>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-primary" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert"></div>

        <div class="form-floating">
            <input class="form-control" asp-for="PasswordOld" placeholder="Eski Şifre">
            <label asp-for="PasswordOld"></label>
            <span class="text-danger" asp-validation-for="PasswordOld"></span>
        </div>
        <div class="form-floating">
            <input class="form-control" asp-for="PasswordNew" placeholder="Yeni Şifre">
            <label asp-for="PasswordNew"></label>
            <span class="text-danger" asp-validation-for="PasswordNew"></span>
        </div>
        <div class="form-floating">
            <input class="form-control" asp-for="PasswordNewConfirm" placeholder="Yeni Şifre Tekrar">
            <label asp-for="PasswordNewConfirm"></label>
            <span class="text-danger" asp-validation-for="PasswordNewConfirm"></span>
        </div>

        <div class="Form-Button">
            <a href="">
                <button>Güncelle</button>
            </a>
        </div>
    </form> 



</div>
 

