
@{
    ViewData["Title"] = "UserEdit";
}
@model UserEditVM

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="Select-Group">
    @await Html.PartialAsync("_ProfileSidebarPartial", ViewBag.UserVM as UserVM)

    <main>



        <div class="ProfileSettings">
            <p><i class="fa-solid fa-gear" style="color: #000000;"></i> Profil Ayarları</p>

            <form  asp-action="UserEdit" method="post" enctype="multipart/form-data">

                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-primary" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }

                <div class="Inputs" style="margin-top: 10%; width: 450px;">

                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input asp-for="UserName" type="text" id="Username" class="form-control p-3" placeholder="Kullanıcı Adı" />
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>

                    <!-- FirstName input -->
                    <div class="form-outline mb-4">
                        <input asp-for="Firstname" type="text" id="name" class="form-control p-3" placeholder="Ad" />
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <!-- LastName input -->
                    <div class="form-outline mb-4">
                        <input asp-for="Lastname" type="text" id="surname" class="form-control p-3" placeholder="Soyad" />
                         <span class="text-danger" asp-validation-for="Lastname"></span>
                    </div>

                    <!-- Phonenumber input -->
                    <div class="form-outline mb-4">
                        <input type="number" asp-for="Phone" id="number" class="form-control p-3" placeholder="Telefon Numarası" />
                        <span class="text-danger" asp-validation-for="Phone"></span>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" asp-for="Email" id="email" class="form-control p-3" placeholder="E-Mail" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div

                     <!-- School No input -->
                    <div class="form-outline mb-4">
                        <input type="number" asp-for="SchoolNo" id="schoolno" class="form-control p-3" placeholder="Okul Numarası" />
                        <span class="text-danger" asp-validation-for="SchoolNo"></span>
                    </div>

                    <div class="form-outline mb-4">
                       <label asp-for="ProfilePicture"></label>
                       <input class="form-control" asp-for="ProfilePicture" accept="image/png, image/jpg, image/jpeg" placeholder="Profile Picture">
                       <span class="text-danger" asp-validation-for="ProfilePicture"></span>
                    </div>

                    <!-- Submit button -->
                    <div class="Form-Button">
                        <a href="">
                            <button>Güncelle</button>
                        </a>
                    </div>
                    <!-- Submit button -->

                </div>

            </form>
        </div>
    </main>
</div>