/* _content/OnlineBookClub.WEB/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-itm9824m9x] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-itm9824m9x] {
  color: #0077cc;
}

.btn-primary[b-itm9824m9x] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-itm9824m9x], .nav-pills .show > .nav-link[b-itm9824m9x] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-itm9824m9x] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-itm9824m9x] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-itm9824m9x] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-itm9824m9x] {
  font-size: 1rem;
  line-height: inherit;
}
/* _content/OnlineBookClub.WEB/Views/Shared/_LayoutBlank.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-w7kffeurs2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-w7kffeurs2] {
  color: #0077cc;
}

.btn-primary[b-w7kffeurs2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-w7kffeurs2], .nav-pills .show > .nav-link[b-w7kffeurs2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-w7kffeurs2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-w7kffeurs2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-w7kffeurs2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-w7kffeurs2] {
  font-size: 1rem;
  line-height: inherit;
}
