@model Event

<div class="guides" style="margin-top: 100px;">
    <div class="book-image">
        <img src="https://cdn.discordapp.com/attachments/1205968232494800897/1206659344247165018/nutuk.png?ex=65dcd016&is=65ca5b16&hm=af8241681877f9e9dcffe9c007d5f3e8b55ebb8120c41ff436f782e35bcb5282&"
            alt="">
        <p>Bu Kitabı İncelemek İster Misin?</p>
        <p class="book-detail-button">Detay</p>
    </div>
    <div class="book-details">
        <div class="discussion-group">
            <i class="fa-solid fa-flag"></i>
            <p class="bolder">Tartışma Kılavuzu</p>
        </div>
        <div class="event-details">
            <div class="event-header">
                <h1 class="book-name bold">Nutuk</h1>
                <div class="event-actions">
                    <p class="event-join-button bold">Etkinlikte Yerimi Ayır</p>
                    <div class="event-rating">
                        <p class="event-rating-text">Bu Etkinliğe Puanım:</p>
                        <i class="fa-solid fa-star star1"></i>
                        <i class="fa-solid fa-star star2"></i>
                        <i class="fa-solid fa-star star3"></i>
                        <i class="fa-solid fa-star star4"></i>
                        <i class="fa-solid fa-star star5"></i>
                    </div>
                </div>
            </div>
            <div class="event-desc">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto enim neque sapiente rerum minima
                    incidunt quod quas, possimus quasi quidem temporibus laborum recusandae, nesciunt inventore iure
                    consequuntur accusamus minus, libero harum dolorum reiciendis. Ipsa magni assumenda tempora
                    molestias consectetur! Quam.</p>
            </div>
            <div class="event-logs">
                <div class="event-log">
                    <p class="bold">Yapılan Etkinlik Sayısı: 12</p>
                    <p class="bold">Kitap Adeti: 20</p>
                </div>
                <div class="rate-log">
                    <p class="item-point"><i class="fa-solid fa-star bold"></i>Ortalama Puan: 9.7</p>
                    <p class="item-point"><i class="fa-solid fa-star bold"></i>Öğretmen Puanı: 7</p>
                </div>
            </div>
            <div class="book-club-questions">
                <h1 class="event-question-header-text bold">Kitap Kulübü Soruları</h1>
                <p>Bir sonraki kitap kulübü toplantınıza rehberlik etmek için bu tartışma sorularını kullanın.</p>
                <div class="event-questions">
                    <div class="question">
                        <i class="fa-solid fa-flag"></i>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt ab pariatur ad at numquam
                            labore neque sequi minus, non dolore quaerat eveniet fugit necessitatibus! Quaerat fuga
                            eveniet, quas molestiae amet veritatis perferendis sed. Hic necessitatibus, ut molestias
                            pariatur assumenda quaerat!</p>
                    </div>
                    <div class="question">
                        <i class="fa-solid fa-flag"></i>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt ab pariatur ad at numquam
                            labore neque sequi minus, non dolore quaerat eveniet fugit necessitatibus! Quaerat fuga
                            eveniet, quas molestiae amet veritatis perferendis sed. Hic necessitatibus, ut molestias
                            pariatur assumenda quaerat!</p>
                    </div>
                    <div class="question">
                        <i class="fa-solid fa-flag"></i>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt ab pariatur ad at numquam
                            labore neque sequi minus, non dolore quaerat eveniet fugit necessitatibus! Quaerat fuga
                            eveniet, quas molestiae amet veritatis perferendis sed. Hic necessitatibus, ut molestias
                            pariatur assumenda quaerat!</p>
                    </div>
                </div>
            </div>
            <div class="event-details-footer">
                <div class="event-notify">
                    <p class="event-notify-text bold">Kitap kulübünün yaklaşan bir toplantısı var.</p>
                    <p class="event-date">5 Aralık 2023 Salı 04:00 CST (UTC-3)</p>
                </div>
                <div class="event-teacher">
                    <img src="https://cdn.discordapp.com/attachments/1205968232494800897/1206992852450545755/circleperson.png?ex=65de06b0&is=65cb91b0&hm=46c05eeb0315f4ad8f24acd6c3244c015a46b7697274ccc994f013c691d3da98&" alt="">
                    <p>Fatih ŞAHİNBAŞ</p>
                </div>
            </div>
            <div class="event-gallery">
                <div class="gallery-image">
                    <img src="https://cdn.discordapp.com/attachments/1205968232494800897/1206996252848431114/photo-1597167100957-1dfa110c1c14.jpeg?ex=65de09db&is=65cb94db&hm=2e2ddbb89ea4a265e5cf007159b491ec246424fba9c530f3e86abaa6eb9b8383&" alt="">
                </div>
                 <div class="gallery-image">
                    <img src="https://cdn.discordapp.com/attachments/1205968232494800897/1206996274025467964/photo-1506880018603-83d5b814b5a6.jpeg?ex=65de09e0&is=65cb94e0&hm=cc5db8ea3a6467ff6561ae561e0109aa0079ba29cc2d7000758422daa0df31f3&" alt="">
                </div>
            </div>
             <div class="creator-pages">
                <i class="fa-solid fa-circle selected"></i>
                <i class="fa-regular fa-circle"></i>
                <i class="fa-regular fa-circle"></i>
                <i class="fa-regular fa-circle"></i>
                <i class="fa-regular fa-circle"></i>
            </div>
        </div>
    </div>
</div>