@model Event_IndexVM
<div class="slide">
    <div class="container d-flex">
        <div class="slide-texts">
            <h1 class="slide-text-header bold">Şuana Kadar Hazırlanmış Bir Çok Etkinlik</h1>
            <p class="slide-text-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at, beatae consequuntur cupiditate, nisi
                fuga libero sint repudiandae eius quae ex laborum! Rem minus non aperiam nostrum voluptates? Hic,
                cumque.</p>
        </div>
        <div class="slide-image">
            <img src="~/img/styleImages/Etkinlikler.png" width="700" alt="">
        </div>
    </div>
</div>
<div class="filter">
    <select name="event-filters" id="event-filters">
        <option value="january">Ocak 2023</option>
        <option value="february">Şubat 2023</option>
        <option value="march">Mart 2023</option>
        <option value="april">Nisan 2023</option>
    </select>
</div>
@{
    int i = 1;
}
<div class="d-flex align-items-center flex-column justify-content-center gap-2" style="">
    @foreach (var item in Model.Events)
    {
        <div class="guide-item">
            <div class="container d-flex">
                <div class="item-index">
                    <p>@(i++).</p>
                </div>
                <div class="item-image">
                    <img src="~/img/books/9789944888349-us.jpg"
                        alt="Nutuk Görseli">
                </div>
                <div class="item-details">
                    <h1 class="item-header bold">@item.Title</h1>
                    <p class="item-creator">Mustafa Kemal Atatürk Tarafından</p>
                    <br>
                    <div class="item-notify-date">
                        <p class="item-notify bold">Kitap Kulübü'nün yaklaşan bir toplantısı var.</p>
                        <p class="item-date">@item.StartDate.ToString("d")</p>
                    </div>
                    <br>
                    <div class="item-footer">
                        <a asp-action="Details" asp-controller="Event" asp-route-id="@item.Id"
                            class="item-discussion-button bold">Tartışma Kılavuzunu İncele</a>
                        <p class="item-point"><i class="fa-solid fa-star"></i>Ortalama Puan 9.7</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>