@model Event_IndexVM

@{
    int i = 1;
}
<div class="d-flex align-items-center flex-column justify-content-center gap-2" style="margin-top: 150px;">
    @foreach (var item in Model.Events)
    {
        <div class="guide-item">
            <div class="container d-flex">
                <div class="item-index">
                    <p>@(i++) .</p>
                </div>
                <div class="item-image">
                    <img src="https://www.atfkirtasiye.de/media/image/f5/ec/b2/Nutuk_-_Gencler_Icin_FotograflarlayTX7h5hIGmH2P.png"
                    alt="Nutuk Görseli">
                </div>
                <div class="item-details">
                    <h1 class="item-header bold">@item.Title</h1>
                    <p class="item-creator">Mustafa Kemal Atatürk Tarafından</p>
                    <br>
                    <div class="item-notify-date">
                        <p class="item-notify bold">Kitap Kulübü'nün yaklaşan bir toplantısı var.</p>
                        <p class="item-date">@item.StartDate.ToString("d")</p>
                    </div>
                    <br>
                    <div class="item-footer">
                        <p class="item-discussion-button bold">Tartışma Kılavuzunu İncele</p>
                        <p class="item-point"><i class="fa-solid fa-star"></i>Ortalama Puan 9.7</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>